body {
    background-color: #F0F0F0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.timer {
    position: absolute;
    top: 8rem;

    font-size: 3rem;
    color: #2E4053;
    font-weight: bold;
  }

  .button-container {
    position: absolute;
    top: 14rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .reload {
    font-size: 1em;
    color: red;
    font-weight: bold;
    background-color: transparent;
    border: transparent;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
  }

  .reload:hover{
    font-size: 1.2em;
  }

  .typing-container {
    background-color: #2E4053;
    color: #fff;
    padding: 1rem;
    border-radius: .5rem;
    width: 700px;
    max-width: 90%;
    margin-top: 230px;
    position: relative;
  }

  .quote-display {
    margin-bottom: 1rem;
    margin-left: calc(1rem + 2px);
    margin-right: calc(1rem + 2px);
  }

  .quote-input {
    background-color: transparent;
    color: #fff;
    border: 2px solid #A1922E;
    outline: none;
    width: 100%;
    height: 8rem;
    margin: auto;
    resize: none;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .5rem;
  }

  .quote-input:focus {
    border-color: black;
  }



/* 정타 오타 */
.correct {
    color: #27AE60;
  }

  .incorrect {
    color: red;
    text-decoration: underline;
  }