<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/account/login.css">
</head>
<body>
<header>

</header>
<div class="login-box">
    <form action="/account/login" method="post">
        <div class="login-info">
<!--            <input type="text" id="login-id" placeholder="id" name="username" required>-->
<!--            <input type="password" id="login-pw" placeholder="password" name="password" required>-->
<!--            <button type="submit" class="login-button">로그인</button>-->
            <span>로그인 후 이용가능한 서비스입니다</span>
            <span>아래 계정을 통해 로그인해주세요</span>
        </div>
        <div class="oauth2-box">
            <button type="button" class="login-google" onclick="location.href = '/oauth2/authorization/google'">Login with Google</button>
            <button type="button" class="login-naver" onclick="location.href = '/oauth2/authorization/naver'">Login with Naver</button>
        </div>
    </form>
</div>
<footer>

</footer>
</body>
</html>