<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Logout</title>
  <link rel="stylesheet" href="/static/css/account/logoutpage.css">
</head>
<body>
<header>

</header>
<div class="logout-box">
  <div class="logout-info">

    <p class="error-title">로그아웃 되었습니다</p>
    <span class="error-message">페이지 사용을 위해서 로그인 해주세요</span>

  </div>
  <div class="go-login-box">
    <a class="go-login" href="/account/login">로그인 페이지로 이동</a>
  </div>
</div>
<footer>

</footer>
</body>
</html>