<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <title>Typing Game</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/css/styles.css">
        <link rel="stylesheet" href="static/css/footer.css">
        <script src="https://code.jquery.com/jquery-latest.min.js"></script>
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </head>
</head>
<body>
<header class="header"></header>

<div class="container">
    <div class="timer" id="timer">TIME</div>
    <div class="button-container">
        <button class="reload" id="reload">Re</button>
    </div>
    <div class="typing-container">
        <div class="quote-display" id="quoteDisplay"></div>
        <textarea id="quoteInput" class="quote-input" autofocus></textarea>
    </div>
</div>

<footer class="footer"></footer>
</body>
<script src="static/js/mainpage.js"></script>
<script src="static/js/account/principal.js"></script>
<script src="static/js/toggle.js"></script>
<script src="static/js/index.js"></script>
</html>